@keyframes fadeInFadeOutGreen {
  0%   { opacity: 1; }

  28%  { opacity: 1; }

  38%  { opacity: 0; }

  90% { opacity: 0; }

  100% { opacity: 1; }
}

@keyframes fadeInFadeOutBlue {
  0%   { opacity: 0; }

  28%  { opacity: 0; }

  38%  { opacity: 1; }

  61% { opacity: 1; }

  71% { opacity: 0; }

  100% { opacity: 0; }
}

@keyframes fadeInFadeOutOrange {
  0%   { opacity: 0; }

  61% { opacity: 0; }

  71% { opacity: 1; }

  90% { opacity: 1; }

  100% { opacity: 0; }
}

@keyframes bobble {
    0% {
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    62% {
        transform: scale(1.2);
        animation-timing-function: ease-out;
    }
    100% {
        transform: scale(1);
    }
}
