.flx-column-center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flx-row-center-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flx-row-space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flx-row-flex-end-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flx-row-flex-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flx-column-center-flex-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
