/* *************************************************************** */
/* *********************** FONTHANDLING ************************** */
/* *************************************************************** */

.wf-montserrat-n4-active p,
.wf-montserrat-n4-active a,
.wf-montserrat-n4-active li,
.wf-montserrat-n4-active h1,
.wf-montserrat-n4-active h2,
.wf-montserrat-n4-active h3,
.wf-montserrat-n4-active h4,
.wf-montserrat-n4-active label,
.wf-montserrat-n4-active legend,
.wf-montserrat-n4-active button {
  visibility: visible;
}

.wf-montserrat-n4-inactive p,
.wf-montserrat-n4-inactive a,
.wf-montserrat-n4-inactive li,
.wf-montserrat-n4-inactive h1,
.wf-montserrat-n4-inactive h2,
.wf-montserrat-n4-inactive h3,
.wf-montserrat-n4-inactive h4,
.wf-montserrat-n4-inactive label,
.wf-montserrat-n4-inactive legend,
.wf-montserrat-n4-inactive button {
  font-family: Helvetica;
  visibility: visible;
}
