form {
  width: 50rem;
  background-color: white;
  padding: 1rem;
  pointer-events: auto;
}

input {
  padding: 3rem 3rem 3rem 2rem;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  border: none;
  color: var(--grey-color);
  flex-grow: 1;
  opacity: .7;
  transition: all .8s cubic-bezier(.23, 1, 0.32, 1);
}

input:focus {
  outline: none;
  border: none;
  opacity: 1;
}

input:active {
  outline: none;
  border: none;
  padding-left: 3rem;
  opacity: 0.7;
  opacity: 1;
}

input:hover {
  opacity: 1;
  padding-left: 3rem;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .7;

}

input::-moz-placeholder { /* Firefox 19+ */
  opacity: .7;
}

input:-ms-input-placeholder { /* IE 10+ */
  opacity: .7;
}

input:-moz-placeholder { /* Firefox 18- */
  opacity: .7;
}

button {
  appearance: none;
  width: 7rem;
  height: 7rem;
  border: none;
  background-color: var(--bg-color);

  & :focus {
    outline: none;
    border: none;
  }

  & :hover {
    cursor: pointer;
  }

  & :active {
    outline: none;
    border: none;
  }

}

.btn-submit img {
  transition: all .14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-submit:focus {
  outline: none;
  border: none;
}

.btn-submit:active {
  outline: none;
  border: none;
}

.btn-submit:hover {
  cursor: pointer;

  & img {
    margin-right: -1.1rem;
  }
}

.error {
  box-sizing: border-box;
  border-bottom: .4rem solid #ff4065;
  animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.error-message {
  margin-top: 1rem;
  opacity: 0;
  transition: all .6s ease;
  color: #ff4065;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
