/* ***************************************************************** */
/* *************************** GENERAL ***************************** */
/* ***************************************************************** */

html {
  background-color: black;
}

body {
  font-family: 'montserrat-regular', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

.preloader {
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9999;
  transition: opacity 2s ease;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-width: 3px;
  border-color: #050505;
  border-style: solid;
  border-radius: 50%;
  transition: opacity .6s ease;
  pointer-events: none;
}

.spinner::after {
  position: absolute;
  left: -3px;
  top: -3px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-width: 3px;
  border-color: #29a377 transparent transparent;
  border-style: solid;
  border-radius: 50%;

  animation: 500ms linear 0s normal none infinite running spin;
  content: "";
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'montserrat-light';
  font-size: 8rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  line-height: 10rem;
  margin-bottom: 3rem;
}

p {
  text-transform: uppercase;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.absl-top {
  position: absolute;
  z-index: 1;
}

.content-form-sub-text {
  text-transform: none;
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
  line-height: 3.3rem;
  margin-bottom: 6rem;
  font-family: 'montserrat-light';
}

.content-wrapper {
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.content-container {
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.overlay-content {
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.long-and-lat {
  font-family: 'montserrat-light';
  font-size: 1.6rem;
  font-weight: 50;
  letter-spacing: .3rem;
  margin-bottom: 3rem;

  & :first-of-type {
    margin-right: 0.4vw;
  }
}

.top-bar {
  font-size: 1.6rem;
  top: 4vh;
  left: 4vw;
}

.launch-p {
  bottom: 4vh;
  left: 4vw;
}

.links {
  bottom: 4vh;
  right: 4vw;

  font-size: 1.2rem;
  letter-spacing: .3rem;

  /*& :first-of-type {
    margin-right: 6vw;
  }*/
}

.links-mobile {
  display: none;
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.links-mobile-succes {
  display: none;
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.grid-container {
  display: none;
}

.content-from {
  width: 37%;
  margin-left: 10vw;
  z-index: 60;
}

.montserrat-semi-bold{
  font-family: 'montserrat-semibold';
}

.grain {
  position: absolute;
  width: 100%;
  height: 100%;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 60rem;
  height: 60rem;
}

.grain {
  display: none;
}

.fallback-video {
  display: none;
}

.fallback-gif {
  display: none;
}
