.full-size {
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.blend-multiply {
  mix-blend-mode: multiply;
}

.blend-screen {
  mix-blend-mode: multiply;
}

.mask-bg-color {
  background-color: black;
}

.grid-green {
  opacity: 0;
  background-image: url(/assets/img/kronarGrid_01.png);
  animation: fadeInFadeOutGreen 30s infinite;
}

.grid-blue {
  opacity: 0;
  background-image: url(/assets/img/kronarGrid_2.png);
  animation: fadeInFadeOutBlue 30s infinite;
}

.grid-orange {
  opacity: 0;
  background-image: url(/assets/img/kronarGrid_3.png);
  animation: fadeInFadeOutOrange 30s infinite;
}

.animated-bg {
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.element-mask {
  background-color: black;
}

.circle-follow {
  position: absolute;
  overflow: hidden;
  background-color: white;
  width: 11rem;
  height: 18rem;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: opacity .3s cubic-bezier(.52, .01, .16, 1);
  box-shadow: .3rem .3rem 14rem 14rem white;
  opacity: 1;
}

.circle-follow::before {
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
