@media (max-width: 1350px) {

  .content-from {
    width: 40%;
    margin-left: 8vw;
  }

  h1 {
    font-size: 7rem;
    line-height: 9rem;
  }

}

@media (max-width: 1175px) {

  .animated-bg {
    background-size: cover;
  }

  input {
    padding-right: 0;
    padding-left: 2rem;
  }

  input:focus {
    padding-left: 2rem;
  }

  input:active {
    padding-left: 2rem;
  }

  input:hover {
    padding-left: 2rem;
  }

  form {
    padding: 0;
  }

  button {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
  }

}

@media (max-width: 1024px) {

  h1 {
    font-size: 6rem;
    line-height: 7.6rem;
    letter-spacing: .1rem;
  }

  .content-from {
    width: 50%;
  }

}

@media (max-width: 870px) {

  .launch-p span {
    display: none;
  }

  .launch-p:after {
    content: 'Register and receive exclusive updates and early access.';
  }

}

@media (max-width: 755px) {

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content-from {
    width: 80%;
    margin-left: 0;
  }

  .top-bar {
    display: none;
  }

  .top-bar-succes {
    top: 4vh;
    left: 4vw;
  }

  .long-and-lat {
    font-size: 1.2rem;
    margin-top: 5vh;
    margin-bottom: 18vh;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 7rem;
    letter-spacing: .1rem;
  }

  form {
    width: 100%;
  }

  .launch-p {
    display: none;
  }

  .content-form-sub-text {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 2.8rem;
    margin-bottom: 6rem;
  }

  .succes-form-sub-text {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 2.8rem;
    margin-bottom: 6rem;
  }

  .links {
    display: none;
  }

  .links-mobile {
    margin-top: 6vh;
    display: block;

    /*& :first-of-type {
      margin-right: 5vw;
    }*/
  }

  .links-mobile-succes {
    bottom: 4vh;
    text-align: center;
    display: block;

    /*& :first-of-type {
      margin-right: 5vw;
    }*/
  }

  .animated-bg {
    background-position: top;
    background-size: contain;
  }

  .grain {
    display: none;
  }

  .circle-follow {
    width: 4rem;
    height: 1.2rem;
    top: 22%;
    left: 46%;
    box-shadow: .3rem .3rem 5.2rem 5.2rem white;
  }

  .mobile-gyro {
    padding-left: 46%;
    padding-top: 36%;
  }

  .fallback-video-wrapper {
    position: absolute;
    top: 8vh;

    & .fallback-video {
      width: 55vw;
      height: 55vw;
    }
  }

}

@media (max-width: 575px) {

  .content-form-sub-text {
    margin-bottom: 5vh;
  }

}

@media (max-width: 410px) {

  h1 {
    font-size: 4.2rem;
    line-height: 6rem;
    letter-spacing: .1rem;
  }

  .content-from {
    width: 90%;
  }

  .cirle-follow {
    width: 5rem;
    height: .1rem;
    box-shadow: .3rem .3rem 2rem 2rem white;
  }

}

@media (max-width: 320px) {

  h1 {
    font-size: 3.6rem;
    line-height: 4.4rem;
    letter-spacing: .1rem;
  }

  .content-form-sub-text {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  form {
    padding: .1rem .7rem;
  }

  .links-mobile {
    font-size: 1rem;
  }

  .links-mobile-succes {
    font-size: 1rem;
  }

}

/*
@media (max-width: 375px) {

  .content-from {
    width: 50%;
    margin-left: 0;
  }

  .top-bar {
    display: none;
  }

  .title p {
    font-size: 2rem;
  }

}
*/
