.succes-container {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.succes-from {

  & h1 {
    font-size: 4rem;
    text-align: center;
  }
}

.succes-form-sub-text {
  text-transform: none;
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
  line-height: 3.3rem;
  margin-bottom: 6rem;
  font-family: 'montserrat-light';
  text-align: center;
}

.overlay-content-succes {
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

.top-bar-succes {
  font-size: 1.6rem;
  top: 4vh;
  left: 4vw;
}
